<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stuartclaghorn.basicrecipes" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light"
        android:debuggable="true" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >

        </activity>
        <activity android:name=".About"
            android:label="@string/about_header"
            android:theme="@android:style/Theme.Dialog"
            >
        </activity>
        <activity android:name=".Options">
        </activity>
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecipeEntry">
        </activity>
        <activity android:name=".RecipeIngredients">
        </activity>
        <activity android:name=".RecipeNew">
        </activity>
    </application>

</manifest>
